// Radio Help
.toggle__furigana {
  border: 1px solid white;
  background: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: red;
  font-weight: bold;
  position: relative;
}
.toggle__furigana--checkbox {
  display: none;
}
.toggle__furigana--label {
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
}

.toggle__traduction {
  border: 1px solid white;
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(14, 88, 241, 1) 34%,
    rgba(254, 253, 253, 1) 34%,
    rgba(251, 246, 247, 1) 70%,
    rgba(255, 0, 2, 1) 70%
  );
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: red;
}

.toggle__traduction--checkbox {
  display: none;
}
.toggle__traduction--label {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  > .toggle__traduction--label--element {
    width: 100%;
    height: 100%;
  }
}

//Button LECTURE
.bouton-read {
  cursor: pointer;
  font-weight: bold;
  width: auto;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  background: rgb(231, 230, 230);
  padding: 0.5rem;
  a,
  a:visited {
    color: black;
  }
}

.arrow__navigation {
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  a,
  a:visited {
    color: black;
  }
}
.bientot {
  font-weight: bold;
  width: auto;
  text-align: center;
  color: rgb(78, 78, 78);
  border-radius: 5px;
  background: white;
  padding: 0.5rem;
}
