rt {
  color: red;
  font-size: 0.7em;
  visibility: hidden;
  font-weight: bold;
}

ruby:hover,
ruby:active {
  cursor: pointer;
  rt {
    visibility: visible;
  }
}

//class non nécessaire ??? //
// rt.active {
//   visibility: visible;
// }

.active {
  visibility: visible;
}

.francais {
  visibility: hidden;
}
.francais.active {
  visibility: visible;
}

// class aide JS/////
// .blue {
//   color: blue;
// }
