rt {
  color: red;
  font-size: 0.8rem;
  letter-spacing: 0;
  visibility: hidden;
}

ruby:hover,
ruby:active {
  cursor: pointer;
  rt {
    visibility: visible;
  }
}

.active {
  visibility: visible;
}

.francais {
  visibility: hidden;
}
.francais.active {
  visibility: visible;
}

// Active furigana au click on kangi  <=> JS /////
.help-furigana {
  rt {
    visibility: visible;
  }
}
