rt {
  color: red;
  font-size: 0.7em;
  visibility: hidden;
  font-weight: bold;
}

ruby:hover,
ruby:active {
  cursor: pointer;
  rt {
    visibility: visible;
  }
}

.active {
  visibility: visible;
}

.francais {
  visibility: hidden;
}
.francais.active {
  visibility: visible;
}

// Active furigana au click on kangi  <=> JS /////
.help-furigana {
  rt {
    visibility: visible;
  }
}
