.toggle__furigana {
  border: 1px solid white;
  background: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: red;
  font-weight: bold;
  position: relative;
}

.toggle__furigana--checkbox {
  display: none;
}

.toggle__furigana--label {
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
}

.toggle__traduction {
  border: 1px solid white;
  background: -webkit-gradient(linear, left top, right top, from(#3f5efb), color-stop(34%, #0e58f1), color-stop(34%, #fefdfd), color-stop(70%, #fbf6f7), color-stop(70%, #ff0002));
  background: linear-gradient(90deg, #3f5efb 0%, #0e58f1 34%, #fefdfd 34%, #fbf6f7 70%, #ff0002 70%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: red;
}

.toggle__traduction--checkbox {
  display: none;
}

.toggle__traduction--label {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
}

.toggle__traduction--label > .toggle__traduction--label--element {
  width: 100%;
  height: 100%;
}

.bouton-read {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  width: 4rem;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  background: #e7e6e6;
  padding-bottom: 2px;
}

.bouton-read a,
.bouton-read a:visited {
  color: black;
}

rt {
  color: red;
  font-size: 0.7em;
  visibility: hidden;
  font-weight: bold;
}

ruby:hover {
  cursor: pointer;
}

ruby:hover rt {
  visibility: visible;
}

rt.active {
  visibility: visible;
}

.francais {
  visibility: hidden;
}

.francais.active {
  visibility: visible;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fa-signal {
  font-size: 1.5rem;
}

.fa-signal.easy {
  background: -webkit-linear-gradient(360deg, black 0%, black 40%, #cbcaca 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-signal.medium {
  background: -webkit-linear-gradient(360deg, black 0%, black 80%, #cbcaca 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-signal.hard {
  color: black;
}

header {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}

.header__toggle {
  position: fixed;
  top: 1rem;
  background-color: #221212;
  border: 3px solid gray;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__toggle--menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.header__toggle--menu > div {
  width: 1rem;
  height: 0.1rem;
  margin-top: 0.2rem;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__toggle--menu.active > div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 50%;
  left: 5%;
}

.header__toggle--menu.active > div:nth-child(2) {
  opacity: 0;
}

.header__toggle--menu.active > div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 5%;
  bottom: 50%;
}

.menu {
  display: none;
  background-color: black;
  height: 5.5rem;
  border-radius: 15px;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 4rem;
}

.menu.active {
  display: block;
}

.menu__liste {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 15px;
}

.menu__liste a {
  margin-top: 15px;
  color: white;
  cursor: pointer;
}

.menu__liste a:visited {
  color: white;
}

.menu__liste:hover {
  background: beige;
  font-weight: bold;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu__liste:hover a {
  color: black;
}

.toggle__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle__furigana {
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  header {
    height: 5rem;
  }
  .header__toggle {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    height: 4rem;
    background-color: gray;
  }
  .menu__liste {
    margin-right: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: white;
  background: #1d1b1b;
  font-size: 1rem;
}

section {
  width: 95%;
  margin: 25% auto 5%;
  border-radius: 10px;
  text-align: center;
}

.dialogue {
  background: #d1cece;
  padding-bottom: 2rem;
  color: #000000;
}

.dialogue h1 {
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .dialogue__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.dialogue__head {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 95%;
  border-radius: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dialogue__head :nth-child(1) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.dialogue__head__profil {
  margin: 1rem auto;
}

.dialogue__head__profil img {
  width: 7rem;
  border-radius: 50%;
  margin: auto 0.2rem;
}

.card {
  background: beige;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem auto;
  width: 80%;
  color: #000000;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  -webkit-box-shadow: 18px 28px 61px 5px rgba(0, 0, 0, 0.38);
          box-shadow: 18px 28px 61px 5px rgba(0, 0, 0, 0.38);
}

.card-title {
  background: #cacaca;
  margin-bottom: 1rem;
}

.card-title h2 {
  font-size: 1rem;
}

.card-situation {
  margin-bottom: 1rem;
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__profil__image {
  width: 45px;
  border-radius: 50%;
  border: 1px solid white;
  background: black;
}
/*# sourceMappingURL=style.css.map */