section {
  width: 75%;
  margin-left: 10%;
  margin-top: 10%;
}

.dialogue {
  background: beige;
  color: #000000;
}

// .script {
//   background: beige;
//   color: #000000;
//   position: relative;
//   border-radius: 20px;
//   padding: 15px;
//   font-size: 1.3em;
//   box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
//     5px 5px 15px 5px rgba(0, 0, 0, 0);

//   li {
//     margin: 25px;
//     span {
//       color: rgb(201, 8, 8);
//       font-weight: 900;
//       text-shadow: 1px 3px 0 #969696, 1px 5px 3px #aba8a8,
//         7px 7px 0px rgba(242, 241, 245, 0);
//     }
//   }
// }
