section {
  width: 95%;
  margin: 25% auto 5%;
  border-radius: 10px;
  text-align: center;
}

.dialogue,
.dialogue__page {
  background: rgb(209, 206, 206);
  padding-bottom: 2rem;
  color: #000000;
  h1 {
    padding: 1rem;
    font-size: 2rem;
  }
}

.dialogue__situation {
  background: black;
  color: white;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 10px;
  padding: 1rem;
}

@media screen and(min-width:800px) {
  .dialogue__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
  }
}

// HEAD PROFILS GENERAL
.dialogue__head {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 95%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dialogue__head :nth-child(1) {
  flex-basis: 100%;
}
.dialogue__head__profil {
  margin: 1rem auto;
}
.dialogue__head__profil img {
  width: 7rem;
  border-radius: 50%;
  margin: auto 0.2rem;
}

// FIN HEAD PROFIL GENERAL

.dialogue__head--text {
  flex-direction: row;
}

.card {
  background: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem auto;
  width: 80%;
  color: #000000;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 18px 28px 61px 5px rgba(0, 0, 0, 0.38);
}

.card-title {
  background: rgb(202, 202, 202);
  margin-bottom: 1rem;
  h2 {
    font-size: 1rem;
  }
}

.card-situation {
  margin-bottom: 1rem;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__profil__image {
  width: 45px;
  border-radius: 50%;
  border: 1px solid white;
  background: black;
}

// DIALOGUE

.script__interlocuteur {
  max-width: 600px;
  margin: auto;
  img {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    background: black;
    border-radius: 50%;
  }
  .japonais {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    max-width: 75%;
  }
  .francais {
    width: 90%;
    margin: 0.7rem auto;
  }
}
.script__interlocuteur__un,
.script__interlocuteur__deux {
  display: flex;
  .japonais::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
  }
}

.script__interlocuteur__un {
  .japonais {
    margin-left: 0.6rem;
  }
  .japonais::before {
    height: 0;
    width: 0;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    top: 1.5rem;
    left: -1rem;
  }
}

.script__interlocuteur__deux {
  flex-direction: row-reverse;
  .japonais {
    margin-right: 0.6rem;
  }
  .japonais::before {
    border-bottom: 1rem solid white;
    border-right: 1rem solid transparent;
    top: 1.5rem;
    right: -1rem;
  }
}
