* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: white;
  background: rgb(29, 27, 27);
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
}
ul {
  padding: 0;
}

.japonais p {
  font-size: 1.6rem;
  letter-spacing: 0.3em;
  font-family: "Shippori Mincho B1", serif;
  line-height: 3rem;
}

// OK *******************************
